<h1>Show World</h1>

<dl>
  <dt>Name</dt>
  <dd><%= @world.name %></dd>

  <dt>Description</dt>
  <dd><%= @world.description %></dd>

  <dt>Created By</dt>
  <dd><%= @world.user.id %></dd>
</dl>

<span><%= link "Edit", to: Routes.world_path(@conn, :edit, @world) %></span> |
<span><%= link "Back", to: Routes.world_path(@conn, :index) %></span>
