<main>
  <h1>Setup</h1>
  <nav>
    <a href='/worlds/'>
      <section id='worlds' class='card' title='Manage worlds.'>
        <h2>Worlds</h2>
        <p>Manage your catalog of items, creatures, et cetera.</p>
      </section>
    </a>
    <a href='/campaigns/' title='Manage campaigns.'>
      <section id='campaigns' class='card'>
        <h2>Campaigns</h2>
        <p>Create an adventure for your party!</p>
      </section>
    </a>
  </nav>
</main>
